//WEB SECTION
.work {
    width: 100%;
    height: auto;
    h1 {
        color: $white;
        width: 100%;
        text-align: center;
        margin: 60px 0 50px 0;
        }
    .examples {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        }
        a {
            text-decoration: none;
            color: $shadowGrey;
        }
        .box {
            margin: 25px;
            height: 350px;
            width: 33.3%;
            min-width: 350px;
            border: solid black 1px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            position: relative;
            }
    }

.info {
    background-color: $white;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: faderight;
   -webkit-animation-name: faderight;
   animation-duration: 800ms;
   -webkit-animation-duration: 800ms;
   animation-timing-function: ease-out;
   -webkit-animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;

    h2 {
        color: $darkGrey;
        font-size: 2rem;
    }
    p {
        color: rgb(102, 102, 102);
        margin: 5px;
    }
    .link {
        margin-top: 15px;
        color: $consoleGreen;
        text-transform: uppercase;
    }
}

.box:hover .info {
    animation-name: fadeleft;
       -webkit-animation-name: fadeleft;
       animation-duration: 400ms;
       -webkit-animation-duration: 400ms;
       animation-timing-function: ease-in;
       -webkit-animation-timing-function: ease-in;
       animation-fill-mode: forwards;
       -webkit-animation-fill-mode: forwards;
}

.graphic {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $white;
    h1 {
        color: #000;
    }
    .box {
        max-width: 300px;
        height: auto;
        text-align: center;
        border: #efefef solid 1px;
    }
    img {
        width: 100%;
    }
}

.iji {
    background-image: url(../img/ijiedu.png);
    background-size: cover;
}

.flies {
    background-image: url(../img/flies.png);
    background-size: cover;
}

.flex {
    background-image: url(../img/flexbox.png);
    background-size: cover;
}

.taps {
    background-image: url(../img/taps.png);
    background-size: cover;
}
.hands {
    background-image: url(../img/hands.png);
    background-size: cover;
}

.kani {
    background-image: url(../img/kani.png);
    background-size: cover;
}

@keyframes fadeleft  {
        0%{
            opacity:0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
        }
    }
@keyframes faderight  {
    0%{
        opacity:1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(400%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}
